body {
  padding: 0 !important;
  margin: 0 !important;
}
#navbar {
  height: 50px;
  width: 100%;
  background: #262626;
  font-weight: bolder;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}
#navbar a {
  text-decoration: none;
  margin: 0.5rem 1rem;
  color: white;
}
